<div class="sidebar" data-color="purple" data-background-color="white">
    <div class="logo">
      <a href="#" class="simple-text logo-mini text-uppercase">
        {{ user }}
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active  ">
          <a class="nav-link" href="{% url 'taxi_home' %}">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        
        {% if data1 == 0 %}
        <li class="nav-item active  ">
          <a class="nav-link" href="{% url 'taxi_create' %}">
            <i class="material-icons">dashboard</i>
            <p>Add Taxi</p>
          </a>
        </li>
        {% else %}
        <li class="nav-item active  ">
          <a class="nav-link" href="{% url 'taxi_manage' %}">
            <i class="material-icons">dashboard</i>
            <p>Manage Taxi</p>
          </a>
        </li>
        {% endif %}
        <li class="nav-item active  ">
          <a class="nav-link" href="{% url 'book_taxi' %}">
            <i class="material-icons">dashboard</i>
            <p>Bookings</p>
          </a>
        </li>
        <!-- your sidebar here -->
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:;">Dashboard</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">
                <i class="fa fa-power-off" aria-hidden="true"></i> Logout
              </a>
            </li>
            <!-- your navbar here -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->