{% extends 'user/shared/base.html' %}

{% load static %}

{% block content %}

<form method="post" id="myform">
<!-- Gallery -->
<div class="row mt-5 mb-5" id="loc">
    <!-- gallery page 1 -->
    <div id="" class="col-sm-6 offset-3">
    <h2 class="text-center tm-section-title">Book Taxi</h2>
    
        {{ form.as_p }}
        {% csrf_token %}
        <span class="btn btn-info" id="chk_out">Check Out</span>
        
    <input type="hidden" name="price" id="price" value="{{ data.offer_price }}">
    </div> <!-- gallery page 1 -->
</div>
<div class="row mt-5 mb-5" id="check_form">
        <!-- gallery page 1 -->
        <div id="" class="col-sm-4 offset-4 bg-light p-3">
        <h2 class="text-center tm-section-title">Check-Out</h2>
            <div class="form-group">
                <input type="number" name="card" id="card" class="form-control" placeholder="Card Number"><br>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="number" name="exp_month" id="exp_month" class="form-control" placeholder="Month">
                    </div>
                    <div class="col-sm-4">
                        <input type="number" name="exp_year" id="exp_year" class="form-control" placeholder="Year">
                    </div>
                    <div class="col-sm-4">
                        <input type="number" name="cvv" id="cvv" class="form-control" placeholder="CVV">
                    </div>
                </div><br>
                <input type="text" name="name" id="name" class="form-control" placeholder="Card Holder Name">
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-info btn-block" id="pay_now">Pay Now</button>
                </div>
            </div>
        </div> <!-- gallery page 1 -->
    </div>
</div>
</form>

<script>

$(function(){
    $('#check_form').hide()
    $('#chk_out').click(function(){
        $('#loc').hide()
        $('#check_form').show()
    })
})

</script>

{% endblock content %}
    