{% extends 'user/shared/base.html' %}

{% load static %}

{% block content %}


{% if messages %}
{% for message in messages %}
    <p class="alert alert-{{message.tags }}">{{ message }}</p>
{% endfor %}
{% endif %}


<!-- Gallery -->
<div class="row mt-5 mb-5">
    <!-- gallery page 1 -->
    <div id="" class="col-sm-6 offset-3">
    <h2 class="text-center tm-section-title">User Complaints</h2>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'home' %}" class="btn btn-secondary btn-block">Back</a>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-info btn-block">Post</button>
            </div>
        </div>
    </form>
            
    </div> <!-- gallery page 1 -->
</div>


<script>

$(function(){
    $('input').addClass('form-control')
})

</script>

{% endblock content %}
    